.container{
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  justify-content:space-around; 
  /* flex-grow: 1; */
  color: gray;
  background-color: white;
  gap:30px;
  padding: 2rem;
}

.text{
  font-size: 12px;
}



/*-----------------------------------------------*/
/* @media (max-width: 1536px) {
  .container {
    width: 1366px;
  }
} */

@media (max-width: 1366px) {
  .container {
    padding: 0.5rem;
  }
}

@media (max-width: 1280px) {
}

@media (max-width: 1024px) {
}


@media (max-width:768px){
}

/*
@media (max-width: 640px) {
  .container {
     width: 475px; 
  }
}

@media (max-width: 475px) {
  .container {
     width: 380px; 
  }
} */