.container{
  height: 100px;
  display: flex;
  flex: 1;
  align-items: center;
  /* justify-content: space-between; */
  color: gray;
  background-color: white;
  gap:30px;
}

.text{
  font-size: 12px;
}

.imgContainer {
  flex: 1;
  position: relative;
  /* border: 1px solid; */
}

.textContainer {
  /* flex: 1; */
  position: relative;
  /* border: 1px solid; */
}

@media (max-width:768px){
  .container{
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
}