.container {
  display: flex;
  gap: 25px;
  padding: 0 5%;
  flex-direction: column;
  justify-items: flex-start;
}

.textContainer, .textContainerIzq {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
}

.textContainerIzq {
  text-align: left;
}

.categContainer{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  
}

.categBloque{
  display: flex;
  padding: 1rem;
  width: 500px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.otrosContainer{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1rem 3rem;
}
.icono {
  margin: 0.5rem 0.5rem 0.5rem 0;
  fill: var(--azul) ;
  font-size: 35px;
  justify-content: center;
}

.ul{
  /* list-style: none; */
  padding-left: 20px; 
}

.li{
  text-decoration: none;
  font-size: 20px;
  padding:0.4rem 0;
}

.header{
  font-size: 60px;
}

.title{
  font-size: 30px;
}

.subtitle{
  font-size: 24px;
}

.desc{
  font-size: 20px;
  padding: 1rem 0;
  line-height: 1.5;
}

.buttons{
  display: flex;
  gap: 20px;
}

.button{
  padding: 20px;
  min-width: 120px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.button:first-child{
  background-color: var(--btn);
  color: var(--text);
}

.imgContainer {
  flex: 1;
  position: relative;
}



/*-----------------------------------------------*/
/* @media (max-width: 1536px) {
  .container {
    width: 1366px;
  }
} */

@media (max-width: 1366px) {
  .categBloque{
    width: 35vw;
  }
}

@media (max-width: 1280px) {

}


@media (max-width: 1024px) {
}

@media (max-width: 768px) {
  .categContainer{
    align-items: center;
    flex-grow: 1;
    flex-direction: column;
  }
  .categBloque{
    width: 80%;
  }
}

/*
@media (max-width: 768px) {
}

@media (max-width: 640px) {
}

@media (max-width: 475px) {
} */
