:root {
  --azul: #0274be;
  --azulsoft: #1378bb;
  --gris: #3a3a3a;
  --grissoft: #4B4F58;
  --e-global-color-astglobalcolor4: #F5F5F5;
  --fondoblanco: #FFFFFF;
  --fondoblancosoft: #f2f5f7;

  --bg: var(--fondoblanco);
  --bgSoft: var(--fondoblancosoft);
  --text: var(--gris);
  --textSoft: var(--grissoft);
  --btn: var(--azul);
  ;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #000000;
  border: none;
}

body {
  background-color: var(--bg);
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 1536px;
  min-height: 90vh;
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
}

.contenido {
  flex: 3 1;
  display:flex;
  align-items: center;
}

.promotores {
  flex: 0 0;
}

.notfound {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 10;
}

.fill {
  object-fit: fill;
}

.contain {
  object-fit: contain;
}

.cover {
  object-fit: cover;
}

.none {
  object-fit: none;
}

.scale-down {
  object-fit: scale-down;
}

@media (max-width: 1536px) {
  .container {
    width: 1366px;
  }
}

/*-----------------------------------------------*/
@media (max-width: 1366px) {
  .container {
    width: 1280px;
  }
}

@media (max-width: 1280px) {
  .container {
    width: 1024px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 1024px) {
  .container {
    width: 768px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 640px;
  }
}

@media (max-width: 640px) {
  .container {
    width: 475px;
  }
}

@media (max-width: 475px) {
  .container {
    width: 380px;
  }
}