.container {
  display: flex;
  gap: 20px;
  margin:auto;
}

.textContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
}


.title{
  font-size: 60px;
  flex:1;
}

.desc{
  font-size: 20px;
}

.buttons{
  display: flex;
  gap: 20px;
}

.button{
  padding: 20px;
  min-width: 120px;
  cursor: pointer;
  /* border: none; */
  border: 1px solid;
  border-radius: 5px;
  color: var(--text);

}

.button:first-child{
  background-color: var(--btn);
  color: var(--text);
}

/* .brands{
  width: 500px;
  height: 50px;
  position: relative;
  filter: grayscale(1);
} */

.imgContainer {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
}

.imgContainerHero {
  flex: 1;
  position: relative;
  width: 500px;
  height: 500px;
}

 
@media (max-width: 1024px) {
  .container {
    flex-direction: column;
    text-align: center;
  }

  .buttons{
    justify-content: center;
  }
}

/* 
@media (max-width: 768px) {
  .title {
    font-size: 64px;
  } 
} 
 */
