.container{
  min-height: 100px; 
  display: flex;
  align-items: center;
  background-color: var(--textSoft);
  color:white;
  border: 0;
  padding: 2rem 0 0 0;
}

.container1 {
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
  width: 1536px;
  max-width: 1536px;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 0;
}

.containercopy{
  display: flex;
  align-items: center;
  background-color: var(--textSoft);
  color:white;
  padding-bottom: 6rem;
  border: none;
}

.container1copy {
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  width: 1536px;
  max-width: 1536px;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: space-around;
  border: none;
}

.bloque {
  flex: 1;
}

.bloqueiconos {
  flex: 1;
  display: flex;
  gap:1rem;
  justify-content: center;
  align-items: center;
}

.logo{
  font-weight: bold;
}

.text{
  color:white;
  padding: 0.5rem;
  text-align:left;
  /* word-break:break-all; */
  word-wrap: break-word;
}

.link{
  display: block;
  color:white;
  padding: 0.3rem;
  
}

.link:hover{
  text-decoration: underline;
}


.icono {
  color:red;
  font-size: 35px;
  justify-content: center;
}

@media (max-width:768px){
  .container{
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
}