.container{
  /* height: 100px; */
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  color: gray;
  /* background-color: white; */
  gap:30px;
}

.imgContainer {
  flex: 1;
  position: relative;
  /* border: 1px solid; */
}

.textContainer {
  flex: 1;
  position: relative;
  border: 1px solid;
}

@media (max-width: 768px) {
  .links {
    display: none;
  }
}
